hl{
	color:red;
	text-align:center;
}
body{
	background-color:#a61616;
	

     font-family: Arial;
	 background-image:url(https://france3-regions.franceinfo.fr/image/w5BnS8dv_t4Jew3YHtzJpYi1Ugs/2016x1512/regions/2024/04/28/img-1189-662dde816148b237102389.jpg);
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 background-position:50% 50%;
	 background-size: cover;
}
p{
	color:white;
	text-align:center;